- model_class = SongRequest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
.index_page
  = render 'form'
%ul
  - @song_requests.each do |song_request|
    %li
      %h4= "#{song_request.artist} - #{song_request.title}"
      %em.muted
        - unless song_request.suggested_by.blank?
          = "Suggested by #{song_request.suggested_by}, "
        = "#{time_ago_in_words(song_request.created_at)} ago"