- model_class = SongRequest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th
        Song
      %th= model_class.human_attribute_name(:suggested_by)
      %th= model_class.human_attribute_name(:created_at)
      / %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @song_requests.each do |song_request|
      %tr
        %td= "#{song_request.artist} - #{song_request.title}"
        %td= song_request.suggested_by
        %td= "#{time_ago_in_words(song_request.created_at)} ago"
        / %td
        / = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_request_path(song_request), :class => 'btn btn-mini'
        / = link_to t('.destroy', :default => t("helpers.links.destroy")), song_request_path(song_request), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_song_request_path, :class => 'btn btn-primary'
