%h1 Photos

.btn-group
  = link_to 'All', '#', :class=>'btn', :id=>'show_all'
  = link_to 'Live', '#', :class=>'btn btn-success', :id=>'show_live'
  = link_to 'Laugh', '#', :class=>'btn btn-warning', :id=>'show_laugh'
  = link_to 'Love', '#', :class=>'btn btn-danger', :id=>'show_love'

%ul#gallery
  = photo('laugh love','b','#')
  = photo('laugh','b','#')
  = photo('laugh','b','#')
  = photo('laugh','b','#')
  = photo('laugh','b','#')
  = photo('laugh','b','#')
  = photo('live','b','#')
  = photo('live','b','#')
  = photo('live laugh','b','#')
  = photo('live','b','#')
  = photo('live','b','#')
  = photo('live','b','#')
  = photo('love','b','#')
  = photo('love','b','#')
  = photo('love','b','#')
  = photo('love','b','#')
  = photo('love','b','#')
  = photo('love','b','#')