%h1 Photos

%ul.gallery
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 1'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 2'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 3'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 4'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 5'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 6'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 7'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 8'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 9'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 10'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 11'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 12'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 13'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 14'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 15'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 16'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 17'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 18'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 19'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 20'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 21'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 22'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 23'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 24'} do
      .test_image
  %li
    = link_to "http://lorempixel.com/200/200/", {:title=>'Picture 25'} do
      .test_image