%h1 Photos

.btn-group
  = link_to 'All', '#', :class=>'btn', :id=>'show_all'
  = link_to 'Live', '#', :class=>'btn btn-success', :id=>'show_live'
  = link_to 'Laugh', '#', :class=>'btn btn-warning', :id=>'show_laugh'
  = link_to 'Love', '#', :class=>'btn btn-danger', :id=>'show_love'

%ul#gallery
  = photo('laugh', '1 2 3 4 Cheers', 'laugh_1_2_3_4_cheers.jpg')
  = photo('laugh', '4 Handsome Guys With Numbers Pose', 'laugh_4_handsome_guys_with_numbers_pose.jpg')
  = photo('laugh', 'Crazy Golf', 'laugh_crasy_golf.jpg')
  = photo('laugh', 'Cycle Carriage', 'laugh_cycle_carriage.jpg')
  = photo('laugh', 'Girls Night Out', 'laugh_girls_night_out.jpg')
  = photo('laugh', 'Halloween Drinks', 'laugh_halloween_drinks.jpg')
  = photo('laugh', 'I Have a Big Head', 'laugh_i_have_big_head.jpg')
  = photo('laugh', 'Men In Action', 'laugh_men_in_action.jpg')
  = photo('laugh', 'Party Time', 'laugh_party_time.jpg')
  = photo('laugh', 'Ahhhh ~~~ Samara (Ring 2)', 'laugh_ring_ii.jpg')
  = photo('laugh', 'So Sweet', 'laugh_so_sweet.jpg')
  = photo('laugh', 'I Was Bullied!!!', 'laugh_what_are_you_doing.jpg')
  = photo('laugh', 'Put Me Down', 'laugh_put_me_down.jpg')
  = photo('live', 'Andy Hood', 'live_bow_arrow_shooting.jpg')
  = photo('live', 'Cheeky Smiles', 'live_cheeky_smiles.jpg')
  = photo('live', 'Game Time', 'live_game_time.jpg')
  = photo('live', 'Great Glass Elevator', 'live_great_glass_elevator.jpg')
  = photo('live', 'Handsome', 'live_handsome.jpg')
  = photo('live', 'Happy Family', 'live_happy_family.jpg')
  = photo('live', 'Happy Hawaii Trip', 'live_happy_hawaii_trip.jpg')
  = photo('live', 'HCPS graduates (with 2nd gen)', 'live_holy_carpenter_primary_school_graduates_with_2nd_gen.jpg')
  = photo('live', 'Macau Trip', 'live_macau_trip.jpg')
  = photo('live', 'Posh', 'live_posh.jpg')
  = photo('live', 'QI Family', 'live_qi_family.jpg')
  = photo('live', 'Sexy Mustache', 'live_sexy_mustache.jpg')
  = photo('live', 'Sisters', 'live_sisters.jpg')
  = photo('live', 'Webteam Camping', 'live_webteam_camping.jpg')
  = photo('live', 'Thumbs Up', 'live_thumbs_up.jpg')
  = photo('live', 'Tiny Feet', 'live_tiny_feet.jpg')
  = photo('love', 'Chinese Kung Fu', 'love_chinese_kung_fu.jpg')
  = photo('love', 'Chinese Wedding Carriage', 'love_chinese_wedding_carriage.jpg')
  = photo('love', 'HK Night Scene', 'love_hk_night_scene.jpg')
  = photo('love', 'I Can Lift You Up', 'love_i_can_lift_you_up.jpg')
  = photo('love', 'Jumping High', 'love_jumping_high.jpg')
  = photo('love', 'Love Lights', 'love_love_lights.jpg')
  = photo('love', 'Piggyback', 'love_piggyback.jpg')
  = photo('love', 'Sunset', 'love_sunset.jpg')