= form_for @rsvp, :html => { :class => 'form-horizontal' } do |f|
  - if action_name == "reply"
    = f.hidden_field :filled_in, :value=>'t'
  .control-group
    = f.label :names, "Your name(s)", {:class => 'control-label'}
    .controls
      = f.text_field :names, :class => 'text_field'
  .control-group
    = f.label :coming, "Are you coming to the wedding?",{:class => 'control-label'}
    .controls
      - if session[:user_code]
        .btn-group
          %button#going.btn.btn-large
            %i.icon-ok
              Yes
          %button#not_going.btn.btn-large
            %i.icon-remove
              No
        = f.check_box :coming, :class => 'check_box'
      - else # is admin
        = @rsvp.coming ? 'Yes' : 'No'
  .control-group
    = f.label :guests, "How many guests will you be bringing?",:class => 'control-label'
    .controls
      = f.number_field :guests, :class => 'number_field', :max => @rsvp.max_guests, :min => 0
  .control-group
    .controls
      = f.submit 'Submit', :class => 'btn btn-primary'