- model_class = Rsvp

.hero-unit
  %h1
    Thank you for replying
  - if @rsvp.coming
    %p 
      We look forward to seeing you there
      = @rsvp.names
      - if @rsvp.guests > 0
        = "with #{@rsvp.guests} guests"
  - else
    %p We are sorry you can't make it

  = link_to 'Edit RSVP', rsvps_reply_path, :class => 'btn btn-large btn-warning'
  = link_to 'Request a song', song_requests_path, :class => 'btn btn-large btn-success'
